<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390242061903-csh4jfdu1lhal28svlblq0dvgd26jam9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390242061903-csh4jfdu1lhal28svlblq0dvgd26jam9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>390242061903-0vobcmghf1phr969rgi2vukb3tnlvn3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUbqrEOfSMi4WOvlrcy8_qDw6Gz0mcY2E</string>
	<key>GCM_SENDER_ID</key>
	<string>390242061903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isp</string>
	<key>PROJECT_ID</key>
	<string>fluttera2-dfab6</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttera2-dfab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390242061903:ios:9debbc89b0cca44c94243a</string>
	<key>DATABASE_URL</key>
	<string>https://fluttera2-dfab6.firebaseio.com</string>
</dict>
</plist>