<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994148331313-8uro22e5kt3t4mva0tdn1p8ho0dfseuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994148331313-8uro22e5kt3t4mva0tdn1p8ho0dfseuh</string>
	<key>API_KEY</key>
	<string>AIzaSyAnx5um4wkE5Iifn5BX54yU8Qt6SZtmSwg</string>
	<key>GCM_SENDER_ID</key>
	<string>994148331313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flata2.isp</string>
	<key>PROJECT_ID</key>
	<string>fluttera2-d9aec</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttera2-d9aec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994148331313:ios:8a8e862c78d64f9c33ca10</string>
	<key>DATABASE_URL</key>
	<string>https://fluttera2-d9aec.firebaseio.com</string>
</dict>
</plist>